*,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }

  body {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #121210;
    overflow: hidden;
  }

  .hide {
    opacity: 0;
  }

  .collection-logo {
    display: block;
    margin: 1em auto 1.5em auto;
    width: 200px;
    /* text-align: center; */
  }

  .mydeck-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; */
    height: 700px;
    max-height: 700px;
    width: 700px;
    background: rgba(255,255,255,.95);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%) scale(0);
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    padding: 0 2em 3em 2em;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    transition: 500ms transform;
  }

  .mydeck {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-height: 700px;
    width: 700px!important;
  }

  .mydeck-container .poke-container {
    position: relative;
    /* margin-top: 3em; */
    width: 120px;
    height: 120px;
  }

  .mydeck-container .collection-logo {
    justify-self: center;
    align-self: center;
  }

  .mydeck-container .poke-image-wrapper {
    position: absolute;
    width: 120px;
    height: 120px;
    /* width: 100%;
    height: 100%;
    opacity: .5;
    filter: blur(2px); */
    transition: 100ms all;
  }

  .mydeck-container .pokemon-image {
    width: 100%;
    height: 100%;
    opacity: .5;
    filter: blur(2px);
    transition: 100ms all;
  }

  .poke-close-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
    border: 1px solid darkblue;
    border-radius: 100px;
    font-size: 1rem;
    line-height: 0;
    margin: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    z-index: 999999;
    transition: opacity 100ms ease-in-out;
  }

  .poke-close-icon:hover {
    font-weight: bold;
    background: blue;
  }

  .mydeck-container .poke-container:hover > .poke-image-wrapper {
    transform: translate(-15%, -15%);
    height: 200px;
    width: 200px;
  }

  .mydeck-container .poke-container:hover > .poke-image-wrapper > .pokemon-image {
    filter: blur(0);
    opacity: 1;
  }

  .mydeck-container .poke-container:hover > .poke-image-wrapper > .poke-close-icon {
    opacity: 1;
  }

  .showdeck-top {
    animation: 300ms openTop ease-in-out 1 forwards;
  }

  .showdeck-bottom {
    animation: 300ms openBottom ease-in-out 1 forwards;
  }

  .showdeck {
    animation: 400ms showDeck ease-in-out 400ms 1 forwards;
  }

  /* .viewcollection {
    text-align: center;
    margin-top: 1em;
  }

  .viewcollection-button {
    display: inline;
    background: #ff8000;
    color: black;
    text-decoration: none;
    padding: .6em 1em;
    border-radius: 6px;
  } */

  .viewcollection {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -100%);
    line-height: 2;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 470ms ease-in-out transform;
  }

  .viewcollection.active {
    transform: translate(-50%, 0);
  }

  .viewcollection-button {
    display: inline;
    background: #ff8000;
    color: black;
    text-decoration: none;
    padding: .6em 1em;
    border-radius: 6px;
    color: inherit;
  }

  .viewcollection:hover > .viewcollection-button {
    box-shadow: 0 0 5px grey;
  }

  .container {
    /* height: 90vh; */
  }

  .pokemon-select {
    position: relative;
    width: 450px;
    max-height: 25%;
    margin: 4em auto 0 auto;
  }

  .pokemon-select-input {
    position: relative;
    display: block;
    width: 387px;
    height: 60px;
    font-size: 30px;
    padding: 0 1em;
    transition: 300ms opacity;
    z-index: 100;
  }

  .pokemon-select-input.hide {
    opacity: 0;
  }

  .suggestions {
    position: absolute;
    top: 58px;
    width: 385px;
    max-height: 250px;
    overflow: scroll;
    padding: .8em 2em .5em 2em;
    background: #f7f7f7;
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 5px;
    z-index: 99;
  }

  .suggestion {
    letter-spacing: 2px;
  }

  .suggestion.active {
    color: red;
  }

  .suggestion:hover {
    color: red;
  }

  ::placeholder {
    color: black;
    opacity: .1;
  }

  .card-container {
    position: relative;
    /* top: 6em; */
    top: 4.9em;
    display: flex;
    justify-content: center;
    z-index: -2;
  }

  .card-container.visible {
    animation: showcard 900ms ease-in-out 1.9s 1 forwards!important;
  }

  .card-container.invisible {
    animation: hidecard 900ms ease-in-out 1 forwards!important;
  }

  .card-outer {
    position: relative;
    border-radius: 10px;
    min-width: 360px;
    min-height: 430px;
    border: 1px solid rgb(224, 224, 224);
    background: #fde163;
  }

  .card-outer-close {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -50px;
    top: -50px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 1000px;
    border: 5px solid red;
    background: white;
    transform: scale(0);
    cursor: pointer;
  }

  .card-outer-close:hover {
    background: red;
    color: white;
  }

  .card-outer-close.appear {
    animation: appear 700ms ease-in-out 3s 1 forwards;
  }

  .card-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    /* margin: 0; */
    width: 320px;
    height: 390px;
    z-index: 1;
  }

  .card-inner__silver-icon {
    position: absolute;
    top: 16px;
    left: -4px;
    height: 20px;
    width: 60px;
    border-radius: 100px 70px 200px 100px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to bottom, white, silver, white, white, silver, silver, silver);
  }

  .card-inner__silver-icon::before {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    height: 20px;
    width: 59px;
    border-radius: 80px 70px 200px 100px;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  .card-inner__silver-icon span {
    display: inline-block;
    font-size: .75rem;
    margin-left: .9em;
    font-family: "Futura Medium Condensed", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 0.5px 1px white, 0 0 .5em white, 0 0 0.2em white;
    color: #333333;
  }

  .card-inner__name-hp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: .5em .5em 0 4em;
  }

  .card-inner__name,
  .card-inner__hp {
    margin: 0;
  }

  .card-inner__hp {
    margin-left: auto;
    margin-right: .2em;
  }

  .card-inner__hp::before {
    content: 'HP ';
    font-size: .8rem;
  }

  .card-inner__hp-img {
    position: relative;
    top: 4px;
  }

  .card-inner__hp-img_iconWhite {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
  }

  .card-inner__hp-img_iconBack {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    top: 2.5px;
    left: 2.5px;
  }

  .card-inner__hp-img_icon {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    top: 2.5px;
    left: 2.5px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
  }

  .card-inner__img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: .5em 1em;
    z-index: 1;
  } 

  .card-inner__img-pokemon {
    width: 100%;
    height: 150px;
    box-shadow: inset 0 0 6px black;
  }

  .card-inner__img-pokemon::after {
    content: '';
    position: absolute;
    top: -2.5px;
    left: -3.5px;
    width: inherit;
    height: inherit;
    padding: .2em;
    background: radial-gradient(ellipse at center, silver, white);
    box-shadow: 0 0 2px black;
    z-index: -1;
  }

  .card-inner__img-silver-icon {
    position: absolute;
    bottom: -25px;
    left: -10px;
    width: calc(100% + 20px);
    height: 20px;
    border-radius: 100px 0 200px 100px;
    background: linear-gradient(to bottom, grey, silver, white, grey, grey, silver, silver);
    box-shadow: 0 0 3px black;
    z-index: 0;
  }

  .card-inner__img-silver-icon span {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .70rem;
    font-family: "Futura Medium Condensed", sans-serif;
    color: #777777;
    z-index: 2;
  }

  .card-inner__img-silver-icon::after {
    content: '';
    position: absolute;
    left: 5%;
    width: calc(100% - 40px);
    height: inherit;
    border-radius: 100px 0 100px 0;
    background: linear-gradient(to bottom, white, lightgrey, white, white, lightgrey, white);
    box-shadow: 0 0 1px white;
    z-index: 1;
  }

  .card-inner__bottom-silver-icon {
    position: absolute;
    bottom: 1em;
    left: -.3em;
    width: calc(100% + .6em);
    height: 20px;
    border-radius: 500px 300px 300px 70px;
    background: linear-gradient(to bottom, grey, silver, white, grey, grey, silver, silver);
    box-shadow: 0 0 3px black;
    z-index: 0;
  }

  .card-inner__bottom-silver-icon::after {
    content: '';
    position: absolute;
    left: 2%;
    width: calc(100% - 40px);
    height: inherit;
    border-radius: 500px 300px 300px 70px;
    background: linear-gradient(to bottom, white, lightgrey, white, white, lightgrey, white);
    box-shadow: 0 0 1px white;
    z-index: 1;
  }

  .pokeball {
    position: absolute;
    /* top: 27%; */
    /* top: 10em; */
    top: 9em;
    left: 50%;
    transform: translateX(-50%);
  }

  .pokeball__top {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    background: red;
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
    border: 20px solid black;
    border-bottom: 10px solid black;
    z-index: 2;
  }

  .pokeball__top.open {
    animation: rotateDown 2s ease-in-out 1 forwards!important;
  }

  .pokeball__top.close {
    animation: flipUp 2s ease-in-out 1 forwards!important;
  }

  .pokeball__middle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 125px;
    width: 125px;
    border-radius: 1000px;
    background: #001418;
    cursor: pointer;
    z-index: 3;
  }

  .pokeball__middle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75px;
    width: 75px;
    background: white;
    border-radius: 1000px;
    transition: animation 2000ms;
    z-index: 4;
  }

  .pokeball__middle:hover::after {
    animation: glow-inner 2.2s ease-out infinite;
  }

  .pokeball__bottom {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    background: white;
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border: 20px solid black;
    border-top: 10px solid black;
    z-index: -1;
  }

  @keyframes rotateDown {
    0% {
      transform: translateY(0) rotate(0);
    }
    33% {
      transform: translateY(-20px) rotate(0);
    }
    66% {
      transform: translateY(100%) rotate(180deg);
    }
    100% {
      transform: translateY(100%) rotate(180deg);
    }
  }

  @keyframes flipUp {
    0% {
      transform: translateY(100%) rotate(180deg);
    }
    33% {
      transform: translateY(100%) rotate(180deg);
    }
    66% {
      transform: translateY(-20px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes openTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-3.5em);
    }
  }

  @keyframes openBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(3.5em);
    }
  }

  @keyframes showDeck {
    0% {
      transform: translate(-50%, -45%) scaleY(.06) scaleX(.06) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -45%) scaleY(1) scaleX(1) rotate(10000deg);
    }
    100% {
      transform: translate(-50%, -45%) scaleY(1) scaleX(1) rotate(0);
    }
  }

  @keyframes glow-outer {
    0% {
      background: black
    }
    100% {
      background: #001418;
    }
  }

  @keyframes glow-inner {
    0% {
      box-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 3px #1520a6, 0 0 4px #1520a6, 0 0 7px #1520a6, 0 0 10px #1520a6, 0 0 15px #1520a6;
    }
    50% {
      box-shadow: 0 0 7px white, 0 0 8px white, 0 0 10px white, 0 0 30px #1520a6, 0 0 30px #1520a6, 0 0 15px #1520a6, 0 0 18px #1520a6, 0 0 20px #eafbff;
    }
    100% {
      box-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 3px #1520a6, 0 0 4px #1520a6, 0 0 7px #1520a6, 0 0 10px #1520a6, 0 0 15px #1520a6;
    }
  }

  @keyframes showcard {
    0% {
      transform: translateY(0) rotate(0);
      z-index: 0;
    }
    33% {
      transform: translateY(-60%) rotate(74deg);
      z-index: 0;
    }
    66% {
      transform: translateY(-60%) rotate(74deg);
      z-index: 99;
    }
    100% {
      transform: translateY(0) rotate(0);
      z-index: 99;
    }
  }

  @keyframes hidecard {
    0% {
      transform: translateY(0) rotate(0);
      z-index: 99;
    }
    33% {
      transform: translateY(-60%) rotate(74deg);
      z-index: 99;
    }
    66% {
      transform: translateY(-60%) rotate(74deg);
      z-index: 0;
    }
    100% {
      transform: translateY(0) rotate(0);
      z-index: 0;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 0;
      transform: scale(1);

    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* @media (max-width: 600px) {
    .card-container {
        top: 2em;
    }
    .card-outer {
      transform: scale(.8);
    }
    .pokeball {
        transform: translateX(-50%) scale(.8);
        top: 6em;
    }
  }

  @media (max-width: 500px) {
    .card-outer {
      transform: scale(.7);
    }
    .pokeball {
        transform: translateX(-50%) scale(.7);
        top: 7em;
    }
  }

  @media (max-width: 400px) {
    .card-outer {
      transform: scale(.5);
    }
    .pokeball {
        transform: translateX(-50%) scale(.5);
        top: 7em;
    }
  } */
